<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Счетчик</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
<!--Верхняя панель-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Панель навигации</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ссылка</a>
            </li>
        </ul>
    </div>
</nav>

<!--Нижняя панель-->
<div class="container">
    <div id="counts">
      <!--  <div class='form-check' id="${id}">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <h6>${counterId}</h6>
            </label>
        </div>-->
    </div>
</div>

<script type="text/javascript">
    async function getCount(id) {
        const res = await fetch(`http://localhost:8081/counter/${id}`, {method: 'GET',
            headers: {'Content-Type' : 'application/json'}
        });
        const counter = await res.json();
        console.log(counter);
        res.forEach(counts => countToHtml(counts))
    }
    getCount('asdasd')
    //window.addEventListener('DOMContentLoaded', getCount);

    function countToHtml({id, counterId, count}) {
        const countList = document.getElementById('counts');
        countList.insertAdjacentHTML('beforeend', `
        <div class='form-check' id="${id}">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <h1>${counterId}</h1>
                <h1>${count}</h1>
            </label>
        </div>
    `)
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>